*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    max-width: 66vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    /* background-color: aqua; */
}

a{
    text-decoration: none;
}

.header_container{
    margin-bottom: 2.8rem;
}

.header_title{
    margin-bottom: 1rem;
    font-size: 2.6rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.header_desc{
    max-width: 568px;
    text-align:center;
    color: rgb(108, 99, 99);
    margin: 0 auto;
    font-size: 1.4rem;
}

.main_container{
    display: grid;
    /* grid-template-columns: repeat(1, 1fr); */
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 1.5rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px,400px));
}

/* 
@media(min-width:935px)
{
    .main_container{
        /* display: grid; */
        /* grid-template-columns: repeat(2, 1fr); */
        /* gap: 1.5rem;     */
    /* }
} */

/* @media(min-width:1380px)
{
    .main_container{ */
        /* display: grid; */
        /* grid-template-columns: repeat(3, 1fr); */
        /* gap: 1.5rem;     */
    /* }
} */

/* @media(min-width:1870px)
{
    .main_container{ */
        /* display: grid; */
        /* grid-template-columns: repeat(4, 1fr); */
        /* gap: 1.5rem;     */
    /* }
} */


.card_container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(231, 230, 230);
    border-radius: 8px;
    overflow: hidden;
}

.card_img_container{
    position: relative;
    overflow: hidden;
    height: 7rem;
}

@media(min-width:768px)
{
    .card_img_container{
        height: 12rem;
    }
}

.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 2.6px;
}

.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_title{
    font-size: 1.4rem;
    font-weight: 600;
    color:rgb(27, 26, 26);
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
}

.card_title_anchor:hover .card_title{
    color: rgb(59, 59, 201);
}

.card_desc{
    color: rgb(112, 106, 106);
    font-size: 1.4rem;
}

.card_footer_container{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    align-items: flex-end;
}

.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
}

.author_avatar_container{
    height: 2.9rem;
    width: 9.3rem;
    overflow: hidden;
    display: flex;
    gap: 0.6rem;
}

.author_avatar{
    height: 2rem;
    width: 2rem;
    border: 1px solid rgb(151, 146, 146);
    border-radius: 50%;
    background-color: rgb(246, 242, 242);
}

.author_info_container{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* gap:0.1rem; */
}

.author_name{
    color: rgb(38, 38, 175);
}

.author_days{
    color: rgb(135, 122, 122);
}

.card_tag_container{
    font-size: 1.2rem;
    border: 1px solid rgb(73, 64, 64);
    border-radius: 2px;
    line-height: 3rem;
    padding: 0.23rem 0.3rem;
    color: grey;
}
